<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Global">
    <test name="Tasks">
        <classes>
            <class name ="testcases.FlightTestFromMMT"></class>
            <class name ="testcases.TestEmail"></class>
        </classes>
    </test>
</suite>